* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000C49;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.note {
    font-size: 1.5rem;
    opacity: 0.8;
}

::-webkit-scrollbar {
    display: none;
}

audio {
    display: none;
}

.mainMenu {
    display: flex;
    align-content: center;
    background-color: #404040;
    height: 4rem;

    ol>li {
        display: inline-block;
        margin: 0 1rem;
        font-size: 2rem;
        margin: 0 4rem;
        cursor: pointer;
    }

    ol>li:hover {
        opacity: 0.8;
    }

    ol>li:active {
        opacity: 1;
    }

    ol>li:first-child {
        color: orange;
        font-family: 'Lobster', cursive;
        font-size: 3rem;
    }

    .login {
        position: absolute;
        right: -3rem;
    }
}

.albumBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100rem;
    height: 30rem;

    .albumFrame {
        display: inline;
        float: left;
        padding: 3rem;
        width: 44rem;
        height: 24rem;

        .LPImage {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -10rem;
            width: 20rem;
            height: 20rem;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .LPImage:hover {
            transform: translateX(-2rem);
        }

        .LPImageL {
            margin-left: -44rem;
        }

        .LPImageR {
            margin-left: 6rem;
        }

        .mainAlbum {
            position: absolute;
            width: 21rem;
            height: 21rem;
            top: 50%;
            left: 50%;
            margin-top: -10.5rem;
            margin-left: -10.5rem;
            background-color: red;

            .LPIPicture {
                width: 100%;
                height: 100%;
            }
        }

        .mainAlbumL {
            margin-left: -34rem;
        }

        .mainAlbumR {
            margin-left: 16rem;
        }

        .albumText {
            position: absolute;
            transform: translate(13rem, -1rem);
            font-size: 1.5rem;
            font-family: 'Roboto Condensed', sans-serif
        }
    }
}

.albumBox1 {
    margin-top: -32rem;
    margin-left: -60rem;
}

.albumBox2 {
    margin-top: 0rem;
    margin-left: -40rem;
}

.mainMenual600px {
    display: none;
}

@media(max-width: 600px) {
    .mainMenual {
        display: none;
    }

    .mainMenual600px {
        display: block;
    }
}

.login {
    transform: translate(0, 0.8rem);
}

@mixin bottomValue {
    position: absolute;
    top: 50%;
    margin-top: -2rem;
    height: 4rem;
}

.bottomBar {
    display: none;
    z-index: 10;
    position: absolute;
    bottom: 0;
    height: 7rem;
    width: 100%;
    background-color: #404040;

    .bottomBtn {
        @include bottomValue;
        width: 4rem;
        font-size: 4rem;
        text-align: center;
        line-height: 4rem;
        cursor: pointer;
    }

    .bottomBtn:active {
        opacity: 0.8;
    }

    .previousBtn {
        left: 4rem;
    }

    .startStopBtn {
        left: 8.5rem;
    }

    .nextBtn {
        left: 13rem;
    }

    .timeView {
        @include bottomValue;
        width: 14rem;
        left: 17.5rem;
        font-size: 1.5rem;
        text-align: center;
        line-height: 4rem;
    }

    .titleView {
        @include bottomValue;
        display: flex;
        left: 50%;
        height: 6rem;
        margin-top: -3rem;
        margin-left: -22rem;
        right: 74rem;
        width: 44rem;

        .nowAlbumBox {
            display: inline-block;
            width: 6rem;
            height: 6rem;

            .nowAlbum {
                width: 100%;
                height: 100%;
            }
        }

        .nowAlbumText {
            display: inline-block;
            margin-left: 2rem;
            line-height: 3rem;
            width: 36rem;
            height: 6rem;

            .nowAlbumText1,
            .nowAlbumText2 {
                width: 100%;
                height: 50%;
            }

            .nowAlbumText1 {
                font-size: 2rem;
            }

            .nowAlbumText2 {
                font-size: 1.2rem;
            }
        }
    }

    @media(max-width: 1200px) {
        .titleView {
            display: none;
        }
    }

    .soundControlBtn {
        right: 21rem;
    }

    .continuousPlaybackBtn {
        right: 14.5rem;
    }

    .randomPlayBtn {
        right: 10rem;
    }

    .nowMusic {
        transform: rotate(-90deg);
        right: 3rem;
    }
}

.volumeBox {
    position: absolute;
    background-color: #404040;
    display: none;
    justify-content: center;
    width: 4rem;
    height: 15rem;
    right: 21.5rem;
    bottom: 7rem;
    z-index: 10;

    .musicVolume {
        transform: rotate(-90deg);
    }
}

.listBox {
    z-index: 5;
    position: absolute;
    bottom: 0rem;
    background-color: #5B9C7B;
    height: 0rem;
    width: 100%;
    overflow: hidden;

    .nowLPBox {
        position: absolute;
        top: 24.4rem;
        left: 50%;
        margin-left: -30rem;
        width: 30rem;
        height: 30rem;
        animation: 6s linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: nowLPRotate;

        .nowLP {
            width: 100%;
            height: 100%;
        }

        .nowLPText {
            font-family: 'Lobster', cursive;
            color: orange;
            position: absolute;
            font-size: 1.6rem;
            transform: rotate(-80deg);
            top: 23.5rem;
            left: 9.5rem;
        }
    }

    @keyframes nowLPRotate {
        from {
            transform: rotater(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .nowMusicAlbumBox {
        position: absolute;
        width: 30rem;
        height: 37rem;
        top: 50%;
        left: 50%;
        margin-top: -18.5rem;
        margin-left: -15rem;

        .playAlbum {
            width: 30rem;
            height: 30rem;

            .nowAlbum {
                width: 100%;
                height: 100%;
            }
        }

        .playAlbumTitle {
            width: 30rem;
            height: 7rem;

            .playAlbumTitle1 {
                font-size: 3.5rem;
                margin-left: 0.2rem;
            }

            .playAlbumTitle2 {
                font-size: 1.3rem;
                margin-left: 0.2rem;
            }
        }
    }
}

.albumListBox {
    background-color: #12758F;
    height: 0rem;


    .backAlbumListBox {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 5rem;
        height: 5rem;
        font-size: 5rem;
        opacity: 0.8;
        cursor: pointer;
    }

    .backAlbumListBox:active {
        opacity: 1;
    }

    .albumListBoxList {
        position: absolute;
        width: 45rem;
        height: 50rem;
        top: 33rem;
        left: 11rem;
        background-color: black;
        overflow: scroll;

        .musicListBox {
            display: flex;
            justify-content: center;
            width: 43rem;
            padding: 1rem 1rem;
            background-color: black;
            height: 7rem;

            @mixin musicListValue {
                width: 6rem;
                height: 7rem;
            }

            .musicListAlbum {
                @include musicListValue;
                width: 7rem;

                .nowAlbum {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }

            .musicListTitle {
                display: inline-block;
                width: 23rem;
                height: 5rem;
                padding: 1rem;

                .musicListTitleA {
                    font-size: 2.5rem;
                    cursor: pointer;
                }
            }

            .musicListPlayBtn {
                @include musicListValue;
                width: 5rem;
                font-size: 4rem;
                text-align: center;
                line-height: 7rem;
                cursor: pointer;
                opacity: 0.8;
            }

            .musicListAddBtn {
                @include musicListValue;
                width: 5rem;
                font-size: 3rem;
                text-align: center;
                line-height: 7rem;
                cursor: pointer;
                opacity: 0.8;
            }

            .musicListPlayBtn:active {
                opacity: 1;
            }

            .musicListAddBtn:active {
                opacity: 1;
            }
        }

        .musicListBox2 {
            width: 100%;
            background-color: red;
            height: 7rem;
        }
    }

    .musicListAddBox>p {
        font-size: 4rem;
        width: 100%;
        height: 5.5rem;
    }

    .musicListAddBoxSpan>span {
        font-size: 2rem;
        cursor: pointer;
    }

    .musicListAddBoxSpan>span:active {
        opacity: 0.8;
    }

    .musicListAddBox {
        position: absolute;
        bottom: 0rem;
        width: 100%;
        height: 0rem;
        background-color: black;
        z-index: 1;
        text-align: center;

        .backMusicListAddBoxBtn {
            position: absolute;
            font-size: 3rem;
            transform: rotate(90deg);
            margin-top: 0.5rem;
            margin-right: 0.5rem;
            right: 0rem;
            cursor: pointer;
        }
    }

    .albumListBoxAlbum {
        position: absolute;
        width: 30rem;
        height: 30rem;
        top: 1rem;
        left: 26rem;

        .nowAlbum {
            width: 100%;
            height: 100%;
        }
    }

    .nowLP {
        position: absolute;
        top: 1rem;
        left: 11rem;
        width: 30rem;
        height: 30rem;
    }

    .albumListBoxMovies {
        background-color: transparent;
        position: absolute;
        top: 1rem;
        left: 96rem;
        width: 56rem;
        height: 31.5rem;
    }
}

.albumStorageBox {
    z-index: 6;
    bottom: unset;
    top: 4rem;
    background-color: #52658F;

    .deleteList {
        position: absolute;
        font-size: 3rem;
        top: 33rem;
        left: 26rem;
        cursor: pointer;
    }

    .deleteList:active {
        opacity: 0.8;
    }

    .backStorageBox {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 5rem;
        height: 5rem;
        font-size: 5rem;
        opacity: 0.8;
        cursor: pointer;
    }

    .backStorageBox:active {
        opacity: 1;
    }

    .nowLP {
        position: absolute;
        top: 1rem;
        left: 11rem;
        width: 30rem;
        height: 30rem;
    }

    .myStorageLP {
        position: absolute;
        top: 1rem;
        left: 26rem;
        background-color: black;
        width: 28rem;
        height: 28rem;
        line-height: 55rem;
        text-align: right;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .albumStorageBoxList {
        position: absolute;
        top: 9rem;
        left: 91rem;
        width: 55rem;
        height: 73rem;
        overflow: scroll;
        background-color: #404040;
        border: 1rem solid black;

        .albumStorageBox {
            display: flex;
            justify-content: space-between;
            width: 53rem;
            height: 7rem;
            background-color: black;
            padding: 1rem 1rem;

            .deleteListContent {
                font-size: 3rem;
                text-align: center;
                line-height: 6rem;
                margin-left: -1rem;
                cursor: pointer;
            }

            .deleteListContent:hover {
                color: red;
            }

            .storageAlbum {
                width: 7rem;
                height: 7rem;

                .nowAlbum {
                    width: 100%;
                    height: 100%;
                }
            }

            .albumStorageTitle {
                display: inline-block;
                width: 18rem;
                height: 5rem;
                padding: 1rem;

                .musicListTitleA {
                    font-size: 2.5rem;
                }
            }

            .albumStoragePlayBtn,
            .albumStorageAddBtn {
                height: 7rem;
                width: 5rem;
                font-size: 4rem;
                text-align: center;
                line-height: 7rem;
                cursor: pointer;
                opacity: 0.8;
            }

            .albumStorageAddBtn {
                font-size: 3rem;
            }

            .albumStoragePlayBtn:active,
            .albumStorageAddBtn:active {
                opacity: 1;
            }
        }
    }

    .albumStorageBoxList::before {
        content: 'MY PLAYLIST';
        font-size: 4rem;
    }

    .albumStorageHeart {
        font-size: 4rem;
        width: 4rem;
        height: 7rem;
        text-align: center;
        line-height: 7rem;
        margin-left: 4rem;
        cursor: pointer;
    }
}

.nowMusicBar {
    display: none;
    position: absolute;
    bottom: 6.5rem;
    width: 100%;
    accent-color: red;
    z-index: 100;
}